
.media-preview {
    position: relative;
    display: inline-block; 
    width: 32%; 
    margin: 0;
}
.media-preview img {
    width: 100%;
    height: 60px; 
    object-fit: contain; 
    border: 1px solid;
}

.media-delete {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    cursor: crosshair;
}


#block-media-modal .attachment-actions .success {
  padding: 0;
  min-height: 0;
  line-height: 2.18181818;
  text-align: left;
  color: #007017;
}

#example_meta_box .inside img.block-example-thumbnail {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  background-image: linear-gradient(45deg,#c3c4c7 25%,transparent 25%,transparent 75%,#c3c4c7 75%,#c3c4c7),linear-gradient(45deg,#c3c4c7 25%,transparent 25%,transparent 75%,#c3c4c7 75%,#c3c4c7);
  background-position: 0 0,10px 10px;
  background-size: 20px 20px;
}