#block_variations_meta_box .hint {
  display: inline;
  margin: 0;
  margin-left: 10px;
}


#block_variations_meta_box .attr_add {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#variation-editor {
  margin-top: 15px;
  padding: 15px;
  background-color: #eee;
}