#major-publishing-actions {
    display: block;
}
.button.dashicons-before:before {
  margin-top: 8px;
}
.wp-core-ui .button > .dashicons {
  line-height: 1;
}

.inside input[type="text"], 
.inside input[type="number"], 
.inside textarea, 
.inside select {
    width: 100%;
}
.CodeMirror {
    border: 1px solid #ddd;
    width: 100% !important;
}
.CodeMirror.distraction-free {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 100000;
}
.CodeMirror .toggle-distraction-free {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    font-size: 15px;
    cursor: nesw-resize;
    opacity: 0.5;
}
.CodeMirror .toggle-distraction-free:hover {
    color: #2271b1;
    opacity: 1;
    font-size: 20px;
}

.CodeMirror .beautify {
  position: absolute;
  z-index: 1;
  padding: 5px;
  bottom: 20px;
  right: 10px;
  line-height: 1;
  min-height: 0;
  background-color: white !important;
}
.CodeMirror .beautify:before {
    margin: 0 !important;
}

.select2-results__option {
    cursor: pointer;
}

.viewscriptmodule-js > .CodeMirror,
.editorscript-js > .CodeMirror,
.viewscript-js > .CodeMirror,
.script-js > .CodeMirror,
.editorstyle-css > .CodeMirror,
.viewstyle-css > .CodeMirror,
.style-css > .CodeMirror {
    height: 200px;   
}

.block-supports-custom > .CodeMirror,
.block-providesContext > .CodeMirror,
.block-blockHooks > .CodeMirror {
    height: 100px;   
}

.CodeMirror-placeholder {
    opacity: 0.4;
}
.tab-head {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background-color: white;
    border: 1px solid #ddd;
    border-bottom: none;
}
.tab-head.tab-active {
    text-decoration: none;
    background-color: #eee;
}
.tab-body {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 15px;
}
#wpfooter {
    position: static;
}

.icon svg,
#icon_svg svg {
    max-width: 100%;
    height: auto;
}

.cursor-pointer {
    cursor: pointer;
}


.d-block {
    display: block !important;
}
.d-flex {
    display: flex;
}
.d-none {
    display: none;
}
.d-flex .dashicons-before {
  display: flex !important;
  align-items: center;
}

.repeat_wrapper .attr_add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repeat_wrapper .repeat_attr {
    border: 1px solid;
    margin-bottom: 15px;
}

.repeat_wrapper .attr_ops {
    background-color: #eee;
}
.repeat_wrapper .attr_data {
    padding: 15px;
}
.repeat_wrapper .attr_name {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    width: 100%;
}
.repeat_wrapper .attr_name:hover {
    background-color: #ddd;
}
.repeat_wrapper .attr_name:before {
    margin-right: 15px;
}
.repeat_wrapper .pull-right {
    float: right;
    display: flex;
    align-items: center;
    margin-left: 2px;
}
.repeat_wrapper .attr_ops:after {
    content: '';
    display: block;
    clear: both;
}
.repeat_wrapper .repeat_attr:first-child .attr_up {
    display: none;
}
.repeat_wrapper .repeat_attr:last-child .attr_down {
    display: none;
}
.repeat_wrapper .attr_remove {
    color: red;
}
.repeat_wrapper label {
    display: inline-block;
    width: 48%;
    padding: 5px;
}


.ui-resizable-se {
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 0 10px 10px;
   border-color: transparent transparent gray transparent;
   transform: rotate(0deg);
}

.notice-inline {
  border: 1px solid;
    border-left-width: 1px;
  border-left-width: 4px;
  margin: 15px 0;
  padding: 0 12px;   
}
.notice-inline.notice-success {
  border-left-color: #00a32a;
}
.notice-inline.notice-warning {
  border-left-color: #dba617;
}

.text-accent {
    color: var(--wp-admin-theme-color); 
}
.text-warning {
    color: orangered; 
    line-height: 1;
}

.block-usage-posts-list {
  max-height: 100px; 
  overflow: auto; 
  background-color: #f6f7f7; 
  padding: 1px 10px;  
}

.button-update-now:before {
  color: #d63638;
  content: "\f463";
  display: inline-block;
  font: normal 20px/1 dashicons;
  margin: -3px 5px 0 -2px;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.pull-right {
    float: right;
}
.text-decoration-none {
    text-decoration: none;
}

.text-danger {
    color: #b32d2e;
}

._block_example_values .widefat td {
    display: block;
}
._block_example_values .widefat td input[type="text"],
._block_example_values .widefat td input[type="url"],
._block_example_values .widefat td input[type="email"],
._block_example_values .widefat td input[type="number"],
._block_example_values .widefat td select,
._block_example_values .widefat td textarea
{
    width: 100%;
    display: block;
}